/* font import link */
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins&display=swap'); 

/* global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Joan', serif;
}

h1 {
    margin-top: -1em;
    font-size: 5rem;
    color: white;
    line-height: 1em;
}

ul {
    list-style: none;
}

.flex-item:hover {
    /* background-color: #ddb5b5; */
    border: 3px solid #ddb5b5;
    color: #d63031;
    transition: all 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
}

/* utility classes */

.center-content {  /* center the content */
    margin: 0 auto;
    width: 50%;
}

.plan-body {    /* common-styling for individual plans */
    padding: 3em 1em;
    margin-top: 4em;
    margin-left: 2em;
}

.plan-body h3 {
    margin-block: 1em;
}

.utility-aligning {
    text-align: center;
    margin-top: 14em;
}

.utility-aligning h2 {
    margin-bottom: 1em;
}

/* landing content area styling */

.container {    /* setup the background image */
    background-image: url('background-images/donation4(3).jpg');
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 390px;
    margin-bottom: 0.5em;
}

.container p {  /* position and style the paragraph area */
    margin-top: 1em;
    color: #FFF;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.btn {      /* setup the button */
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: #d63031;
    color: #FFF;
    padding: 1em;
    margin: 3em;
    border: none;
    border-radius: 10px;
    position: absolute;
    left: 40em;
    cursor: pointer;
}

.color-block {
    display: block;
    color: #d63031;
}

/* donation area styling */

.flexible-container {   /* align whole donation area to the center */
    display: flex;
    justify-content: space-between;
}

.flex-item {    /* spacing li elements & additional styling */
    background-color: rgb(249, 246, 246);
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    padding: 1em 0.8em;
    margin-bottom: 2em;
}

.first-aligning {    /* only centering h2 & paragraph */
    text-align: center;
    margin-bottom: 2em;
}

.first-aligning h2 { 
    margin-bottom: 1em;
}

.input-styling {
    border: none;
    position: relative;
    left: 24em;
}

/* donation planning area styling */

.bg-color1 {
    background-color: #fab1a0;
}

.bg-color2 {
    background-color: #55efc4;
}

.bg-color3 {
    background-color: #74b9ff;
}

.resize-image {
    width: 53px;
    height: 53px;
}

/* subscribe area styling */
 .subscribing-form {
    margin-block: 1em;
    background-color: #74b9ff;  
    padding: 5em 15em;
    position: absolute;
    left: 25rem;
 }

 .first-input {
    display: block;
    border: none;
    margin-bottom: 1rem;
    padding: 1em;
 }

 .second-input {
    padding: 1em;
    border: none;
 }

 .sub-btn {
    padding: 1em;
    background-color: #2c3e50;
    color: #FFF;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    
 }

 /* footer area style */

 .footer-style {
    margin-top: 25em;
    background-color: #e74c3c;
    color: #FFF;
    padding: 3em;
    text-align: center;
 }